/* UA Reset */
body, p, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

strong {
  font-weight: inherit;
}

li {
  list-style: none;
}

/* Typography */
/* font-family: 'Josefin Sans', sans-serif; */

/* Layouts */
.wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Components */
body {
  color: #fff;
  background-color: rebeccapurple;
  padding: 80px 0; 
}

.header-inner h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2em;
  line-height: 1.4em;
}

.header-inner h1 strong {
  display: inline-block;
  position: relative;
}

.header-inner h1 strong::before {
  content: " ";
  display: block;
  width: 100%;
  height: 15px;
  background-color: tomato;
  position: absolute;
  bottom: 0.6rem;
  z-index: -9999;
}

.header-inner p {
  font-size: 14px;
  padding-top: 20px;
  line-height: 1.6em;
  width: 80%;
}

.main {
  margin-top: 100px;
}

.main .container {
  display: flex;
  background-color: #fff;
  margin-bottom: 30px;
}

.main .container.reverse {
  flex-direction: row-reverse;
}

.main .container:last-child {
  margin: 0;
}

.main .container-head {
  width: 200px;
  flex-shrink: 0;
  background-image: url(images/photo01.png);
  background-position: center;
  background-size: cover;
  background-color: rgba(111, 45, 192, 0.5);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .container-head.craft {
  background-image: url(images/photo02.png);
}

.main .container-head.scrap {
  background-image: url(images/photo03.png);
}

.main .container-head h2 {
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
}

.main .container-contents {
  padding: 20px; 
  flex-grow: 1;
}

.main .container-contents h3 {
  color: rebeccapurple;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 20px;
  line-height: 1;
}

.explanation li{
  font-size: 14px;
  color: #555;
  line-height: 25px;
  padding-left: 15px;
  position: relative;
}

.explanation li::before {
  content: ' ';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: thistle;
  position: absolute;
  left: 0;
  top: 0.5rem;
}

/* Mediaqueries */
@media ( min-width: 1200px ) {
  .wrapper {
    max-width: 960px;
  }

  .header-inner {
    display: flex;
    align-items: center;
  }

  .header-inner h1 {
    width: 230px;
    flex-shrink: 0;
    padding-right: 50px;
  }

  .header-inner p {
    padding: 0 80px;
    position: relative;
  }

  .header-inner p::before {
    content: ' ';
    width: 50px;
    height: 1px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .main .container-head {
    width: 280px;
  }

}

@media ( max-width: 520px ) {
  .header-inner p {
    width: 100%;
  }

  .main .container {
    display: block;
  }

  .main .container-head {
    width: 100%;
    padding: 50px 0;
  }

}
